__pycache__/
src/__pycache__/
.ipynb_checkpoints/
data/raw/foursquare/checkins
data/raw/gowalla/checkins
data/raw/gowalla/pois
data/raw/foursquare/pois
data/raw/ml-25m/ratings
data/raw/ml-20m/ratings.csv
